.sidebar-position{
  position: fixed;
  .sidebar-nav{
    background: #211F29;
    z-index: 1;
    width: 83%;
    transition: .3s;
    @media (max-width:768px) {
      width: 85%;
      height: 50px;
    }

    .logo{
      @media (max-width:768px) {
        display: none;
      }
    }

    a{
      font-weight: bold;
    }

    .inline-logo{
      display: flex;
    }
  }
  
  .sidebar-screen{
    height: 60vh;
    width: 83%;
    @media (max-width:768px) {
      width: 85%;
    }

    background: #211F29;
  }

  .sidebar-screen-bottom{
    height: 40vh;
    width: 83%;
    @media (max-width:768px) {
      width: 85%;
    }

    background: #211F29;
  }


  .sidebar_list{
    display: flex;
    flex-direction: column;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-top: .9rem;
    a{
      color: white;
    }

    @media (max-width:768px) {
      padding-left: .5rem;
    }
  }
 
}


