.sidebar-position{
  position: fixed;
  .sidebar-nav{
    background: #211F29;
    z-index: 1;
    width: 83%;
    a{
      font-weight: bold;
    }
    .bars{
      cursor: pointer;
      img{
        width: 2rem;
        object-fit: cover;
      }
    }
  }
  
  .sidebar-screen{
    height: 100vh;
    width: 83%;

    background: #211F29;
  }
}


