.draggable_container{
  width: 100%;
  height: 800px;
  position: absolute;
  transition: .2s;
  right: -100%;
  background: #fafafa;
  box-shadow: 0 0 5px white;
}

 .draggable_container_active {
    width: 100%;
    height: 800px;
    transition: .2s;
    position: absolute;
    right: 0%;
    background: #fafafa;
    box-shadow: 0 0 5px white;
  }